:root {
    /* --first: #22A39F;
    --second: #222222;
    --third: #434242; 
    --text: #F3EFE0; */

    /* 
    #1C6758
    #3D8361
    #D6CDA4
    #EEF2E6*/
    
    /* --first: #FFE3E1;
    --second: #FFD1D1;
    --third: #FF9494; 
    --text: #FFF5E4;  */

    --first: #1C6758;
    --second: #3D8361;
    --third: #EEF2E6; 
    --fourth: #a39c7e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--third);
}

.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: var(--fourth);
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid var(--fourth);
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:var(--fourth);
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: var(--first);
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: var(--third);
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: var(--second);
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: var(--fourth);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:var(--second);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid var(--third);
	cursor: pointer;
}

.service{
	background: var(--third);
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: var(--first);
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.about-card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: var(--first);
	border-radius: 20px;
	margin: 15px;
	overflow: hidden;
	text-align: center;
}
.about-card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: var(--fourth);

}
h5{
	color: var(--third);
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: var(--fourth);
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.about-card .button{
	background-color:var(--fourth);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.about-card .button:hover{
	background-color: transparent;
	border: 2px solid --fourth;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: var(--second);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:var(--first);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid var(--third);
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: var(--first);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  var(--fourth);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:var(--fourth);
	bottom: 35px;
	font-size: 14px; 
}